<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../assets/css/burger_style.css" type="text/css">
        <script src="https://code.jquery.com/jquery.js"></script>
        {{!-- <script src="../../models/burger.js"></script> --}}
        {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> --}}
        <title>Eat-Da-Burger</title>
    </head>
    <body>

        

            <img src="../../assets/img/my-burger.png">

            {{{body}}}

        
    </body>
</html>