<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="../../controllers/burger.js"></script>
        <title>Eat-Da-Burger</title>
    </head>
    <body>

        <div class="container">

            <img src="../../public/assets/img/my-burger.png" alt="Eat-Da-Burger">

            {{{body}}}

        </div>
    </body>
</html>