<h2>Eat-Da-Burger</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
        <div class="burger">
            <form action="/api/burgers/{{this.id}}" method="POST">
                {{this.name}}

                <button type="submit">Delete the Burger!</button>
                {{!-- <h6>Enter a burger you want to eat, and then click the "Submit" button.</h6> --}}

            </form>
        </div>
        {{/unless}}
    {{/each}}

</ul>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            <li>
                <div class="burger">
                    {{this.name}}
                </div>
            </li>
        {{/if}}
    {{/each}}
</ul>


{{!-- Create a new burger --}}

<form class="create-form" action="/api/burgers" method="POST">

    <div class="form-group">
        <label for="ca">Type of Burger</label>
        <input type="text" id="ca" name="name">
    </div>

    <button type="submit">Add a Burger!</button>
    <h6>Enter a burger you want to eat, and then click the "Submit" button.</h6>

</form>