body {
    /* background-color: rgb(240, 175, 80) */
    background-image: linear-gradient(to right, rgba(240,175,80,1), rgba(245,217,79,1));
}

.burger-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.eat-da {
    text-align: center;
    font-size: 2.5em;
}

.burger-style {
    text-align: center;
    font-size: 1.3em;
    margin-top: 5px;
    margin-bottom: 5px;
}


.list-item{
    list-style-type: none;
}

.bottom{
    margin-top: 20px;
}